.initiativeMenueItem input[type="number"]::-webkit-inner-spin-button,
.initiativeMenueItem input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.initiativeMenueItem input[type="number"] {
  -moz-appearance: textfield;
}
